
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: poppins, sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: none;
  }

/*start left side navbar*/
.left-side {
  border-right: 1px solid #e5e7eb;
  height: 100%;
}
.left-side-navbar {
  padding:10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
  .left-side-navbar .navbar-logo > a > img {
    width: 100%;
  }
  .left-side-navbar .navbar-logo {
    background-color: transparent;
    padding-bottom: 30px;
  }
  .left-side-navbar ul{
    padding:0;
  }
  .left-side-navbar ul > li {
    margin-bottom: 22px;
    padding: 8px 26px;
    border-radius: 8px;
    background-color: #eef2fc;
  }
    .left-side-navbar ul > li > a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #2563dc;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      text-transform: capitalize;
    }
    .left-side-navbar ul > li.active {
      background-color: #2563dc;
      color: #fff;
    }
    .left-side-navbar ul > li.active > a{
      color: #fff;
    }
.left-side-navbar ul.logout > li {
  background-color: #fdf0ec;
}
    .left-side-navbar ul.logout > li {
      background-color: #fdf0ec;
    }
      .left-side-navbar ul.logout > li > a {
        color: #c90e0e;
      }

/*end left side navbar*/
/*-- start right side section--*/
/*start header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #e5e7eb;
}
.header-search > input {
  width: 90%;
  border: 1px solid #e5e7eb;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 7px 12px;
}
  .header-search > input::placeholder {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
  }
  .header-search > input:focus {
   outline:none;
  }
.header-search > button {
  width: 5%;
  background-color: transparent;
  border: 0;
  border-right: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 7px 12px;
  text-align: center;
}
  .header-search > button > i {
    color: #7e7e7e;
  }
.header-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.header-user span {
  position: relative;
}
  .header-user .active {
    display: block;
    border: 3px solid red;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    right: 0;
  }
  .header-user > img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
  }
/*end header*/
/*start addtask section*/
.add-task-section {
  padding: 65px 40px 20px 40px;
}
.add-task-left > h2 {
  font-size: 22px;
  margin: 0;
}
.add-task-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.add-task-right-icon {
  display: flex;
  gap: 10px;
}

.add-task-right-btn .btn.btn-primary {
  background-color: #2563dc;
  font-size: 15px;
}
/*start addtask section*/
.add-task-section .add-task-button {
  background-color: #2563dc;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
/*start task card*/
.task-card {
  padding:0px 40px 0px 40px;
  margin-bottom: 20px;
}
.task-card-inner {
  border: 1px solid #d7e2f8;
  background-color: #eef2fc;
  padding: 10px 10px;
  border-radius: 10px;
}
.task-card .task-card-title > h2 {
  color: #2563dc;
  font-size: 18px;
  font-weight: 500;
}
.task-card .active .task-card-title > h2 {
  color: #c90e0e;
}
.task-card-box {
  background-color: #fff;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #d7e2f8;
}
.task-card-box-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
  .task-card-box-item > span > img {
    width: 30px;
    height: 30px;
    border-radius: 24px;
  }
  .task-card-box-item > p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
    .task-card-box-item > p > span > i {
      font-size: 12px;
      color: #7e7e7e;
      cursor: pointer;
    }
.task-card-box-content > p {
  margin: 0;
  font-size: 14px;
  color: #5e5c5c;
}
.task-card .active .task-card-inner {
  background-color: #fff6eb;
  border: 1px solid #ffe6c6;
}
.task-card .active .task-card-box {
  border: 1px solid #ffe6c6;
}
/*end task card*/
/*-- end right side section--*/
